<div class="form-foster-family-agency">
  <h3 class="title"> <%= @foster_family_agency.facility_name %> </h3>
  <div><i class="fa fa-phone" aria-hidden="true"></i> <%= @foster_family_agency.facility_telephone_number %> </div>
  <div><i class="fa fa-map-marker" aria-hidden="true"></i> <%= address(@foster_family_agency) %> </div>
  <div><strong> Capacity: </strong><%= @foster_family_agency.facility_capacity %> </div>
  <div><strong> Administrator: </strong><%= @foster_family_agency.facility_administrator.titleize %> </div>
  <div><strong> Associated Case Workers: </strong></div>
  <% @associated_case_workers.each do |worker| %>
    <ul>
      <li><%= "#{worker.first_name} #{worker.last_name}" %></li>
    </ul>
    <%= link_to "Message #{worker.first_name}", channels_path(user_id: worker.id), method: :post, class: 'btn btn-block btn-primary' %>
  <% end %>
</div>
