<div>
  <div> <%= @resource.facility_name %> </div>
  <div> <%= address(@resource) %> </div>
  <div> <%= @resource.facility_telephone_number %> </div>
  <div> Capacity: <%= @resource.facility_capacity %> </div>
  <div> Administrator: <%= @resource.facility_administrator.titleize %> </div>
  <div> Associated Case Worker: </div>
</div>
