<div class="form-resource">
  <h3 class="title"> <%= @resource.facility_name %> </h3>
  <div><i class="fa fa-phone" aria-hidden="true"></i> <%= @resource.facility_telephone_number %> </div>
  <div><i class="fa fa-map-marker" aria-hidden="true"></i> <%= address(@resource) %> </div>
  <div><strong> Capacity: </strong><%= @resource.facility_capacity %> </div>
  <div><strong> Administrator: </strong><%= @resource.facility_administrator.titleize %> </div>
  <div><strong> Associated Case Workers: </strong></div>
</div>
