<!DOCTYPE html>
<html>
<head>
  <title>Calico</title>
  <%= stylesheet_link_tag gulp_asset_path('application.css'), defer: true %>
  <%= javascript_include_tag gulp_asset_path('vendor.js'), defer: true %>
  <%= javascript_include_tag gulp_asset_path('app.js'), defer: true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to('CALICO', root_path, class: 'navbar-brand') %>
      </div>
    </div>
  </nav>
  <div id="container" class="container">
    <%= yield %>
  </div>
</body>
</html>
