<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-signin' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field form-group">
    <%= f.label :first_name do %>
      <span>First Name</span>
      <em>Required</em>
    <% end %>
    <%= f.text_field :first_name, autofocus: true, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :last_name do %>
      <span>Last Name</span>
      <em>Required</em>
    <% end %>
    <%= f.text_field :last_name, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :phone %>
    <%= f.telephone_field :phone, class: 'form-control'%>
  </div>

  <div class="field form-group">
    <%= f.label :email do %>
      <span>Email Address</span>
      <em>Required</em>
    <% end %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <%= f.fields_for :addresses, f.object.addresses do |addresses_form| %>
    <div class="field form-group">
      <%= addresses_form.label :street_address, 'Street Address' %>
      <%= addresses_form.text_field :street_address, class: 'form-control'%>
    </div>

    <div class="field form-group row">
      <div class="col-xs-6">
        <%= addresses_form.label :city %>
        <%= addresses_form.text_field :city, class: 'form-control' %>
      </div>
      <div class="col-xs-6">
        <%= addresses_form.label :state %>
        <%= addresses_form.select :state, options_for_select(us_states), {}, class: 'form-control' %>
      </div>
    </div>

    <div class="field form-group">
      <%= addresses_form.label :zip_code do %>
        <span>Zip Code</span>
        <em>Required</em>
      <% end %>
      <%= addresses_form.number_field :zip_code, class: 'form-control' %>
    </div>
  <% end %>

  <%- unless current_user.is_case_worker? %>
    <div class="field form-group">
      <%= f.label :current_password, 'Current Password' %>
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :new_password, 'New Password'%>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: minimum_password_message %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation, 'New Password Confirmation' %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'%>
    </div>
  <%- end %>

  <div class="field form-group">
    <%= f.label :profile_photo, 'Profile Picture' %>
    <%= image_tag(current_user.profile_photo.large.url) %>
    <%= f.file_field :profile_photo %>
  </div>

  <div class="actions">
    <!-- <%= f.submit "Upload New Profile Picture", class: 'btn btn-lg btn-secondary btn-block margin-bottom', disabled: true %> -->
    <%= f.submit "Update Profile", class: 'btn btn-lg btn-primary btn-block btn-primary double-margin-bottom' %>
  </div>
<% end %>
